.range-input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: 70%;
    border: none;
    overflow: hidden;

    @mixin slider-thumb {
        width: 16px;
        height: 16px;
        background: var(--key-color);
        border-radius: 3px;
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        box-shadow: 0 0 2px 2px rgb(117, 159, 255),
            -105px 0 0 100px #6080ab;
        margin-top: -1px;
    }

    @mixin slider-track {
        border: 1px solid #ccc;
        height: 16px;
        border-radius: 2px;
        color: var(--key-color);
    }

    &::-webkit-slider-runnable-track {
        @include slider-track;
    }

    &::-moz-range-track {
        @include slider-track;
    }

    &::-webkit-slider-thumb {
        @include slider-thumb;
    }

    &::-moz-range-thumb {
        @include slider-thumb;
    }

    &::-moz-range-progress {
        background-color: var(--key-color);
    }
}
