:root {
    --bg-color: #f0f7ff;
    --key-color: #235599;
    --border-color: #ccc;
    --button-like-bg-color: #eef;
    background-color: var(--bg-color);
    color: var(--key-color);
    font-family: "Times New Roman", Times, serif;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

select {
    border: 1px solid var(--border-color);
    background-color: var(--button-like-bg-color);
    color: var(--key-color);
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888;
    margin: 0 .3em .5em .3em;
}

caption {
    font-weight: bold;
    margin-top: .5em;
}

input {
    color: var(--key-color);

    &[type="submit"] {
        background-color: var(--button-like-bg-color);
        border: 3px outset var(--border-color);
        border-radius: 5px;
    }

    &[type="number"],
    &[type="text"] {
        background-color: #fffb;
        border: none;
        border-bottom: 2px solid var(--border-color);
        text-align: center;
        vertical-align: middle;

        &:focus {
            outline: none;
            border-bottom: 2px solid var(--key-color);
            background-color: #FFF;
        }

        &:disabled {
            color: var(--key-color);
        }
    }
}

.unit,
.sep {
    font-family: monospace;
    margin: 0 .3em;
}


.small {
    font-size: .7em;
    vertical-align: middle;
}

.git-link {
    width: 1.6em;
    height: 1.6em;
    margin: 5px 0 0 5px;
}